{% if breadcrumbs|length %}
    {% for route,breadcrumb in breadcrumbs %}
        {% if not loop.last %}
            <span><a href='{{ url(route) }}'>{{ breadcrumb.getOption('title')|trans({}, 'systems') }}</a></span>
        {% else %}
            <span class='active'>{{ breadcrumb.getOption('title')|trans({}, 'systems') }}</span>
        {% endif %}
        {% if not loop.last %}
            <span class=''>/</span>
        {% endif %}
    {% endfor %}
{% endif %}
